<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span><ul class="toc-item"><li><span><a href="#bam2feat.py" data-toc-modified-id="bam2feat.py-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>bam2feat.py</a></span></li><li><span><a href="#bam2feat" data-toc-modified-id="bam2feat-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>bam2feat</a></span></li></ul></li><li><span><a href="#Compare" data-toc-modified-id="Compare-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Compare</a></span><ul class="toc-item"><li><span><a href="#Check-that-dataset-matches" data-toc-modified-id="Check-that-dataset-matches-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Check that dataset matches</a></span></li><li><span><a href="#Features" data-toc-modified-id="Features-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Features</a></span><ul class="toc-item"><li><span><a href="#ref-bases" data-toc-modified-id="ref-bases-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>ref bases</a></span></li><li><span><a href="#coverage/SNPs" data-toc-modified-id="coverage/SNPs-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>coverage/SNPs</a></span></li><li><span><a href="#Match-features" data-toc-modified-id="Match-features-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Match features</a></span></li><li><span><a href="#SNP-features" data-toc-modified-id="SNP-features-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>SNP features</a></span></li><li><span><a href="#G+C-&amp;-entropy" data-toc-modified-id="G+C-&amp;-entropy-5.2.5"><span class="toc-item-num">5.2.5&nbsp;&nbsp;</span>G+C &amp; entropy</a></span></li></ul></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Check that `bam2feat` works as `bam2feat.py`
  * `bam2feat` is a much faster implementation of `bam2feat.py`

# Var

In [60]:
work_dir = '/ebio/abt3_projects/DeepMAsED/version2/deepmased/DeepMAsED-SM/tests/output_n10/'

threads = 8

# Init

In [51]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(data.table)
library(tidytable)
library(LeyLabRMisc)

In [52]:
df.dims()
data.table::setDTthreads(threads)

# Load

## bam2feat.py

In [98]:
# bam2feat.py tables
D = file.path(work_dir, 'features_bam2feat.py')
F = file.path(D, 'feature_files.tsv')
files = Fread(F) 
files

  richness rep read_depth assembler  feature_file
1 0.8      1   1000000    metaspades 0.8/1/1000000/metaspades/features.tsv.gz
2 0.8      1   1000000    megahit    0.8/1/1000000/megahit/features.tsv.gz
⋮ ⋮        ⋮   ⋮          ⋮          ⋮
5 0.8      3   1000000    metaspades 0.8/3/1000000/metaspades/features.tsv.gz
6 0.8      3   1000000    megahit    0.8/3/1000000/megahit/features.tsv.gz
  MGSIM_reads_params
1 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
2 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
⋮ ⋮
5 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
6 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712

In [99]:
read_feat = function(x, D){
    df = Fread(file.path(D, x['feature_file']))
    df$richness = x['richness']
    df$rep = x['rep']
    df$read_depth = x['read_depth']
    df$assembler = x['assembler']
    return(df)
}

# loading feature tables
bam2feat_py = files %>%
    apply(1, read_feat, D=file.path(work_dir, 'features_bam2feat.py')) %>%
    rbindlist(use.names=TRUE)
bam2feat_py

         assembler  contig                             position ref_base
1        metaspades NODE_2285_length_1048_cov_2.182276 0        C
2        metaspades NODE_2285_length_1048_cov_2.182276 1        T
⋮        ⋮          ⋮                                  ⋮        ⋮
77504452 megahit    k141_11031                         1145     C
77504453 megahit    k141_11031                         1146     A
         num_query_A num_query_C num_query_G num_query_T num_SNPs coverage ⋯
1        0           1           0           0           0        1        ⋯
2        0           0           0           1           0        1        ⋯
⋮        ⋮           ⋮           ⋮           ⋮           ⋮        ⋮        ⋱
77504452 0           1           0           0           0        1        ⋯
77504453 1           0           0           0           0        1        ⋯
         num_supplementary_SNP num_secondary_SNP num_discordant_SNP
1        0                     0                 0
2        0                     0                 0
⋮        ⋮                     ⋮                 ⋮
77504452 0                     0                 0
77504453 0                     0                 0
         seq_window_entropy seq_window_perc_gc Extensive_misassembly
1        1.459              0.833              0
2        1.918              0.667              0
⋮        ⋮                  ⋮                  ⋮
77504452 1.459              0.667              0
77504453 1.918              0.500              0
         Extensive_misassembly_by_pos richness rep read_depth
1        None                         0.8      1   1000000
2        None                         0.8      1   1000000
⋮        ⋮                            ⋮        ⋮   ⋮
77504452 None                         0.8      3   1000000
77504453 None                         0.8      3   1000000

## bam2feat

In [254]:
# bam2feat tables
D = file.path(work_dir, 'features_bam2feat')
F = file.path(D, 'feature_files.tsv')
files = Fread(F) 
files

  richness rep read_depth assembler  feature_file
1 0.8      1   1000000    metaspades 0.8/1/1000000/metaspades/features.tsv.gz
2 0.8      1   1000000    megahit    0.8/1/1000000/megahit/features.tsv.gz
⋮ ⋮        ⋮   ⋮          ⋮          ⋮
5 0.8      3   1000000    metaspades 0.8/3/1000000/metaspades/features.tsv.gz
6 0.8      3   1000000    megahit    0.8/3/1000000/megahit/features.tsv.gz
  MGSIM_reads_params
1 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
2 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
⋮ ⋮
5 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712
6 --art-paired --art-mflen 250 --art-sdev 10 --rndSeed 8712

In [255]:
# loading feature tables
bam2feat = files %>%
    apply(1, read_feat, D=file.path(work_dir, 'features_bam2feat')) %>%
    rbindlist(use.names=TRUE)
bam2feat

         assembler  contig                             position ref_base
1        metaspades NODE_1293_length_1332_cov_1.445576 0        C
2        metaspades NODE_1293_length_1332_cov_1.445576 1        A
⋮        ⋮          ⋮                                  ⋮        ⋮
77504452 megahit    k141_12451                         1127     A
77504453 megahit    k141_12451                         1128     C
         num_query_A num_query_C num_query_G num_query_T num_SNPs coverage ⋯
1        0           1           0           0           0        1        ⋯
2        1           0           0           0           0        1        ⋯
⋮        ⋮           ⋮           ⋮           ⋮           ⋮        ⋮        ⋱
77504452 1           0           0           0           0        1        ⋯
77504453 0           1           0           0           0        1        ⋯
         num_supplementary_SNP num_secondary_SNP num_discordant_SNP
1        0                     0                 0
2        0                     0                 0
⋮        ⋮                     ⋮                 ⋮
77504452 0                     0                 0
77504453 0                     0                 0
         seq_window_entropy seq_window_perc_gc Extensive_misassembly
1        1.46               0.667              0
2        1.00               0.500              0
⋮        ⋮                  ⋮                  ⋮
77504452 1.46               0.667              0
77504453 1.46               0.667              0
         Extensive_misassembly_by_pos richness rep read_depth
1        None                         0.8      1   1000000
2        None                         0.8      1   1000000
⋮        ⋮                            ⋮        ⋮   ⋮
77504452 None                         0.8      3   1000000
77504453 None                         0.8      3   1000000

# Compare

## Check that dataset matches

In [256]:
bam2feat_py$assembler %>% unique_n('assemblers')
bam2feat$assembler %>% unique_n('assemblers')

No. of unique assemblers: 2
No. of unique assemblers: 2

In [257]:
bam2feat_py$contig %>% unique_n('contigs')
bam2feat$contig %>% unique_n('contigs')

No. of unique contigs: 8961
No. of unique contigs: 8961

In [258]:
bam2feat_py %>%
    distinct.(assembler, richness, rep, read_depth)

  assembler  richness rep read_depth
1 metaspades 0.8      1   1000000
2 megahit    0.8      1   1000000
⋮ ⋮          ⋮        ⋮   ⋮
5 metaspades 0.8      3   1000000
6 megahit    0.8      3   1000000

In [259]:
bam2feat %>%
    distinct.(assembler, richness, rep, read_depth)

  assembler  richness rep read_depth
1 metaspades 0.8      1   1000000
2 megahit    0.8      1   1000000
⋮ ⋮          ⋮        ⋮   ⋮
5 metaspades 0.8      3   1000000
6 megahit    0.8      3   1000000

In [260]:
summary_x(bam2feat_py$position)
summary_x(bam2feat$position)

         Min. 1st Qu. Median Mean    3rd Qu. Max.   sd       sd_err_of_mean
position 0    1324    21399  83485.4 96588   869434 340899.2 139171.5

         Min. 1st Qu. Median Mean    3rd Qu. Max.   sd       sd_err_of_mean
position 0    1324    21399  83485.4 96588   869434 340899.2 139171.5

## Features

### ref bases

In [261]:
bam2feat_py$ref_base %>% table
bam2feat$ref_base %>% table

.
       A        C        G        T
15553310 23135094 23218748 15597301

.
       A        C        G        T
15553310 23135094 23218748 15597301

In [262]:
summary_x(bam2feat_py$num_query_A)
summary_x(bam2feat$num_query_A)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_A 0    0       0      5.365662 0       503  204.922 83.659

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_A 0    0       0      5.365662 0       503  204.922 83.659

In [263]:
summary_x(bam2feat_py$num_query_C)
summary_x(bam2feat$num_query_C)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_C 0    0       0      5.064511 3       509  207.15 84.569

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_C 0    0       0      5.064511 3       509  207.15 84.569

In [264]:
summary_x(bam2feat_py$num_query_G)
summary_x(bam2feat$num_query_G)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_G 0    0       0      5.132087 3       504  205.104 83.733

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_G 0    0       0      5.132087 3       504  205.104 83.733

In [265]:
summary_x(bam2feat_py$num_query_T)
summary_x(bam2feat$num_query_T)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_T 0    0       0      5.382127 0       503  204.921 83.659

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
num_query_T 0    0       0      5.382127 0       503  204.921 83.659

### coverage/SNPs

In [266]:
summary_x(bam2feat_py$coverage)
summary_x(bam2feat$coverage)

         Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
coverage 0    5       12     20.94439 42      509  201.813 82.39

         Min. 1st Qu. Median Mean     3rd Qu. Max. sd      sd_err_of_mean
coverage 0    5       12     20.94439 42      509  201.813 82.39

In [267]:
summary_x(bam2feat_py$num_SNPs)
summary_x(bam2feat$num_SNPs)

         Min. 1st Qu. Median Mean       3rd Qu. Max. sd      sd_err_of_mean
num_SNPs 0    0       0      0.01837612 0       324  132.271 53.999

         Min. 1st Qu. Median Mean       3rd Qu. Max. sd      sd_err_of_mean
num_SNPs 0    0       0      0.01837612 0       324  132.271 53.999

In [268]:
summary_x(bam2feat_py$num_discordant)
summary_x(bam2feat$num_discordant)

               Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant 0    0       0      0.01239023 0       124  50.622
               sd_err_of_mean
num_discordant 20.666

               Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant 0    0       0      0.01239023 0       124  50.622
               sd_err_of_mean
num_discordant 20.666

### Match features

In [269]:
summary_x(bam2feat_py$min_insert_size_Match)
summary_x(bam2feat$min_insert_size_Match)

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_insert_size_Match 0    229     234    233.9986 241     1452 29472 10999.25
                      sd_err_of_mean
min_insert_size_Match 4157.324

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_insert_size_Match 0    229     234    234.0283 241     1455 25948 9668.6
                      sd_err_of_mean
min_insert_size_Match 3654.387

In [270]:
summary_x(bam2feat_py$mean_insert_size_Match)
summary_x(bam2feat$mean_insert_size_Match)

                       Min. 1st Qu. Median Mean     3rd Qu. Max.   NA's
mean_insert_size_Match 0    247.5   249.5  249.0814 251.7   1462.3 29472
                       sd       sd_err_of_mean
mean_insert_size_Match 10994.85 4155.663

                       Min. 1st Qu. Median Mean     3rd Qu. Max.    NA's
mean_insert_size_Match 0    247.46  249.54 249.0884 251.67  1462.33 25948
                       sd       sd_err_of_mean
mean_insert_size_Match 9664.346 3652.779

In [271]:
summary_x(bam2feat_py$stdev_insert_size_Match)
summary_x(bam2feat$stdev_insert_size_Match)

                        Min. 1st Qu. Median Mean     3rd Qu. Max.  NA's
stdev_insert_size_Match 0    7.8     9.5    9.760843 10.9    848.5 3542562
                        sd      sd_err_of_mean
stdev_insert_size_Match 1338907 506059.2

                        Min. 1st Qu. Median Mean    3rd Qu. Max.   NA's
stdev_insert_size_Match 0    7.79    9.47   9.74721 10.87   851.36 3549782
                        sd      sd_err_of_mean
stdev_insert_size_Match 1341636 507090.6

In [272]:
summary_x(bam2feat_py$max_insert_size_Match)
summary_x(bam2feat$max_insert_size_Match)

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_insert_size_Match 0    259     265    264.2961 271     1475 29472 10990.24
                      sd_err_of_mean
max_insert_size_Match 4153.919

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_insert_size_Match 0    259     265    264.2904 271     1475 25948 9659.739
                      sd_err_of_mean
max_insert_size_Match 3651.038

In [273]:
summary_x(bam2feat_py$num_orphans_Match)
summary_x(bam2feat$num_orphans_Match)

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.01310425 0       61   24.902
                  sd_err_of_mean
num_orphans_Match 10.166

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.01286824 0       61   24.902
                  sd_err_of_mean
num_orphans_Match 10.166

In [274]:
summary_x(bam2feat_py$min_mapq_Match)
summary_x(bam2feat$min_mapq_Match)

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_mapq_Match 0    42      42     41.82092 42      42   29472 11126.16
               sd_err_of_mean
min_mapq_Match 4205.294

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_mapq_Match 0    42      42     41.82467 42      42   25948 9794.217
               sd_err_of_mean
min_mapq_Match 3701.866

In [275]:
summary_x(bam2feat_py$mean_mapq_Match)
summary_x(bam2feat$mean_mapq_Match)

                Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_mapq_Match 0    42      42     41.94439 42      42   29472 11126.16
                sd_err_of_mean
mean_mapq_Match 4205.291

                Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_mapq_Match 0    42      42     41.94527 42      42   25948 9794.209
                sd_err_of_mean
mean_mapq_Match 3701.863

In [276]:
summary_x(bam2feat_py$stdev_mapq_Match)
summary_x(bam2feat$stdev_mapq_Match)

                 Min. 1st Qu. Median Mean       3rd Qu. Max. NA's    sd
stdev_mapq_Match 0    0       0      0.06636904 0       29.7 3542562 1338961
                 sd_err_of_mean
stdev_mapq_Match 506079.6

                 Min. 1st Qu. Median Mean       3rd Qu. Max. NA's    sd
stdev_mapq_Match 0    0       0      0.06485061 0       29.7 3549782 1341690
                 sd_err_of_mean
stdev_mapq_Match 507111

In [277]:
summary_x(bam2feat_py$max_mapq_Match)
summary_x(bam2feat$max_mapq_Match)

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_mapq_Match 0    42      42     41.98932 42      42   29472 11126.15
               sd_err_of_mean
max_mapq_Match 4205.29

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_mapq_Match 0    42      42     41.98935 42      42   25948 9794.207
               sd_err_of_mean
max_mapq_Match 3701.862

In [278]:
summary_x(bam2feat_py$num_proper_Match)
summary_x(bam2feat$num_proper_Match)

                 Min. 1st Qu. Median Mean    3rd Qu. Max. sd
num_proper_Match 0    5       12     21.0269 42      456  180.235
                 sd_err_of_mean
num_proper_Match 73.581

                 Min. 1st Qu. Median Mean     3rd Qu. Max. sd
num_proper_Match 0    5       12     20.99802 42      455  179.831
                 sd_err_of_mean
num_proper_Match 73.416

In [279]:
summary_x(bam2feat_py$num_diff_strand_Match)
summary_x(bam2feat$num_diff_strand_Match)

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_Match 0    0       0      0    0       0    0  0

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_Match 0    0       0      0    0       0    0  0

In [280]:
summary_x(bam2feat_py$num_orphans_Match)
summary_x(bam2feat$num_orphans_Match)

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.01310425 0       61   24.902
                  sd_err_of_mean
num_orphans_Match 10.166

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.01286824 0       61   24.902
                  sd_err_of_mean
num_orphans_Match 10.166

In [281]:
summary_x(bam2feat_py$num_supplementary_Match)
summary_x(bam2feat$num_supplementary_Match)

                        Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_Match 0    0       0      0    0       0    0  0

                        Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_Match 0    0       0      0    0       0    0  0

In [282]:
summary_x(bam2feat_py$num_secondary_Match)
summary_x(bam2feat$num_secondary_Match)

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_Match 0    0       0      0    0       0    0  0

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_Match 0    0       0      0    0       0    0  0

In [283]:
summary_x(bam2feat_py$num_discordant_Match)
summary_x(bam2feat$num_discordant_Match)

                     Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant_Match 0    0       0      0.01239023 0       124  50.622
                     sd_err_of_mean
num_discordant_Match 20.666

                     Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant_Match 0    0       0      0.01222759 0       124  50.622
                     sd_err_of_mean
num_discordant_Match 20.666

### SNP features

In [284]:
summary_x(bam2feat_py$min_insert_size_SNP)
summary_x(bam2feat$min_insert_size_SNP)

                    Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
min_insert_size_SNP 137  244     250    250.1943 257     379  76630936 28963676
                    sd_err_of_mean
min_insert_size_SNP 10947240

                    Min. 1st Qu. Median Mean    3rd Qu. Max. NA's     sd
min_insert_size_SNP 0    242     249    248.076 256     1472 74432834 28132811
                    sd_err_of_mean
min_insert_size_SNP 10633203

In [285]:
summary_x(bam2feat_py$mean_insert_size_SNP)
summary_x(bam2feat$mean_insert_size_SNP)

                     Min. 1st Qu. Median Mean    3rd Qu. Max. NA's     sd
mean_insert_size_SNP 137  244     250    250.393 257     379  76630936 28963676
                     sd_err_of_mean
mean_insert_size_SNP 10947240

                     Min. 1st Qu. Median Mean     3rd Qu. Max. NA's
mean_insert_size_SNP 0    243     249    248.5082 256     1472 74432834
                     sd       sd_err_of_mean
mean_insert_size_SNP 28132811 10633203

In [286]:
summary_x(bam2feat_py$stdev_insert_size_SNP)
summary_x(bam2feat$stdev_insert_size_SNP)

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's
stdev_insert_size_SNP 0    0       0      2.270828 0.7     98.3 77421064
                      sd       sd_err_of_mean
stdev_insert_size_SNP 29262405 11060150

                      Min. 1st Qu. Median Mean     3rd Qu. Max.   NA's
stdev_insert_size_SNP 0    2.83    7.07   11.61604 12.02   853.48 77368569
                      sd       sd_err_of_mean
stdev_insert_size_SNP 29242515 11052632

In [287]:
summary_x(bam2feat_py$max_insert_size_SNP)
summary_x(bam2feat$max_insert_size_SNP)

                    Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
max_insert_size_SNP 137  244     251    250.5992 257     379  76630936 28963676
                    sd_err_of_mean
max_insert_size_SNP 10947240

                    Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
max_insert_size_SNP 0    243     250    248.9145 256     1472 74432834 28132811
                    sd_err_of_mean
max_insert_size_SNP 10633203

In [288]:
summary_x(bam2feat_py$min_mapq_SNP)
summary_x(bam2feat$min_mapq_SNP)

             Min. 1st Qu. Median Mean    3rd Qu. Max. NA's     sd
min_mapq_SNP 0    42      42     41.4993 42      42   76630936 28963758
             sd_err_of_mean
min_mapq_SNP 10947272

             Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
min_mapq_SNP 0    42      42     41.71447 42      42   74432834 28132954
             sd_err_of_mean
min_mapq_SNP 10633257

In [289]:
summary_x(bam2feat_py$mean_mapq_SNP)
summary_x(bam2feat$mean_mapq_SNP)

              Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
mean_mapq_SNP 0    42      42     41.53934 42      42   76630936 28963758
              sd_err_of_mean
mean_mapq_SNP 10947272

              Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
mean_mapq_SNP 0    42      42     41.73612 42      42   74432834 28132954
              sd_err_of_mean
mean_mapq_SNP 10633257

In [290]:
summary_x(bam2feat_py$stdev_mapq_SNP)
summary_x(bam2feat$stdev_mapq_SNP)

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
stdev_mapq_SNP 0    0       0      0.434989 0       29.7 77421064 29262410
               sd_err_of_mean
stdev_mapq_SNP 11060151

               Min. 1st Qu. Median Mean      3rd Qu. Max. NA's     sd
stdev_mapq_SNP 0    0       0      0.5322473 0       29.7 77368569 29242569
               sd_err_of_mean
stdev_mapq_SNP 11052652

In [291]:
summary_x(bam2feat_py$max_mapq_SNP)
summary_x(bam2feat$max_mapq_SNP)

             Min. 1st Qu. Median Mean     3rd Qu. Max. NA's     sd
max_mapq_SNP 0    42      42     41.58706 42      42   76630936 28963758
             sd_err_of_mean
max_mapq_SNP 10947272

             Min. 1st Qu. Median Mean   3rd Qu. Max. NA's     sd
max_mapq_SNP 0    42      42     41.762 42      42   74432834 28132954
             sd_err_of_mean
max_mapq_SNP 10633257

In [292]:
summary_x(bam2feat_py$num_proper_SNP)
summary_x(bam2feat$num_proper_SNP)

               Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_proper_SNP 0    0       0      0.01312896 0       303  123.698
               sd_err_of_mean
num_proper_SNP 50.5

               Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_proper_SNP 0    0       0      0.04201319 0       303  123.696
               sd_err_of_mean
num_proper_SNP 50.499

In [293]:
summary_x(bam2feat_py$num_diff_strand_SNP)
summary_x(bam2feat$num_diff_strand_SNP)

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_SNP 0    0       0      0    0       0    0  0

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_SNP 0    0       0      0    0       0    0  0

In [294]:
summary_x(bam2feat_py$num_orphans_SNP)
summary_x(bam2feat$num_orphans_SNP)

                Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_orphans_SNP 0    0       0      0    0       0    0  0

                Min. 1st Qu. Median Mean         3rd Qu. Max. sd
num_orphans_SNP 0    0       0      0.0002360122 0       33   13.472
                sd_err_of_mean
num_orphans_SNP 5.5

In [295]:
summary_x(bam2feat_py$num_supplementary_SNP)
summary_x(bam2feat$num_supplementary_SNP)

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_SNP 0    0       0      0    0       0    0  0

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_SNP 0    0       0      0    0       0    0  0

In [296]:
summary_x(bam2feat_py$num_secondary_SNP)
summary_x(bam2feat$num_secondary_SNP)

                  Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_SNP 0    0       0      0    0       0    0  0

                  Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_SNP 0    0       0      0    0       0    0  0

In [297]:
summary_x(bam2feat_py$num_discordant_SNP)
summary_x(bam2feat$num_discordant_SNP)

                   Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_discordant_SNP 0    0       0      0    0       0    0  0

                   Min. 1st Qu. Median Mean         3rd Qu. Max. sd
num_discordant_SNP 0    0       0      0.0001626358 0       52   21.229
                   sd_err_of_mean
num_discordant_SNP 8.667

### G+C & entropy

In [298]:
summary_x(bam2feat_py$seq_window_entropy)
summary_x(bam2feat$seq_window_entropy)

                   Min. 1st Qu. Median Mean    3rd Qu. Max.  sd
seq_window_entropy 0    1.459   1.459  1.49393 1.792   1.918 0.691
                   sd_err_of_mean
seq_window_entropy 0.282

                   Min. 1st Qu. Median Mean     3rd Qu. Max. sd
seq_window_entropy 0    1.46    1.46   1.493876 1.79    1.92 0.691
                   sd_err_of_mean
seq_window_entropy 0.282

In [299]:
summary_x(bam2feat_py$seq_window_perc_gc)
summary_x(bam2feat$seq_window_perc_gc)

                   Min. 1st Qu. Median Mean     3rd Qu. Max. sd
seq_window_perc_gc 0    0.5     0.667  0.598098 0.833   1    0.343
                   sd_err_of_mean
seq_window_perc_gc 0.14

                   Min. 1st Qu. Median Mean     3rd Qu. Max. sd
seq_window_perc_gc 0    0.5     0.667  0.598098 0.833   1    0.343
                   sd_err_of_mean
seq_window_perc_gc 0.14

# sessionInfo

In [300]:
sessionInfo()

R version 4.1.0 (2021-05-18)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 18.04.5 LTS

Matrix products: default
BLAS/LAPACK: /ebio/abt3_projects/Anxiety_Twins_Metagenomes/envs/tidyverse2/lib/libopenblasp-r0.3.12.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] LeyLabRMisc_0.1.9 tidytable_0.6.3   data.table_1.14.0 ggplot2_3.3.5
[5] tidyr_1.1.3       dplyr_1.0.7

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.7        plyr_1.8.6        pillar_1.6.1      compiler_4.1.0
 [5] iterators_1.0.13  R.methodsS3_1.8.1 R.utils_2.10.1    base64enc_0.1-3
 [9] tools_4.1.0       digest_0.6.27     uuid_0.1-4        jsonlite_1.7.2
[13] evaluate_0.14     lifecycle_1.0.0   tibble_3.1.2      gtable_0.3.0
[17] pkgconfig_2.0.3   rlang_0.4.11      foreach_1.5.1     IRdisplay_1.0
[21] cli_3.0.0         parallel_4.1.0    IRkernel_1.2      repr_1.1.3
[25] withr_2.4.2       generics_0.1.0    vctrs_0.3.8       grid_4.1.0
[29] tidyselect_1.1.1  glue_1.4.2        R6_2.5.0          fansi_0.4.2
[33] pbdZMQ_0.3-5      purrr_0.3.4       magrittr_2.0.1    codetools_0.2-18
[37] scales_1.1.1      ellipsis_0.3.2    htmltools_0.5.1.1 colorspace_2.0-2
[41] utf8_1.2.1        doParallel_1.0.16 munsell_0.5.0     crayon_1.4.1
[45] R.oo_1.24.0