<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span><ul class="toc-item"><li><span><a href="#bam2feat_all" data-toc-modified-id="bam2feat_all-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>bam2feat_all</a></span></li><li><span><a href="#bam2feat_red" data-toc-modified-id="bam2feat_red-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>bam2feat_red</a></span></li></ul></li><li><span><a href="#Compare" data-toc-modified-id="Compare-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Compare</a></span><ul class="toc-item"><li><span><a href="#Check-that-dataset-matches" data-toc-modified-id="Check-that-dataset-matches-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Check that dataset matches</a></span></li><li><span><a href="#Features" data-toc-modified-id="Features-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Features</a></span><ul class="toc-item"><li><span><a href="#ref-bases" data-toc-modified-id="ref-bases-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>ref bases</a></span></li><li><span><a href="#coverage/SNPs" data-toc-modified-id="coverage/SNPs-5.2.2"><span class="toc-item-num">5.2.2&nbsp;&nbsp;</span>coverage/SNPs</a></span></li><li><span><a href="#Match-features" data-toc-modified-id="Match-features-5.2.3"><span class="toc-item-num">5.2.3&nbsp;&nbsp;</span>Match features</a></span></li><li><span><a href="#SNP-features" data-toc-modified-id="SNP-features-5.2.4"><span class="toc-item-num">5.2.4&nbsp;&nbsp;</span>SNP features</a></span></li><li><span><a href="#G+C-&amp;-entropy" data-toc-modified-id="G+C-&amp;-entropy-5.2.5"><span class="toc-item-num">5.2.5&nbsp;&nbsp;</span>G+C &amp; entropy</a></span></li></ul></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Check that `bam2feat` with reduced features generates the same output as the old `bam2feat`

# Var

In [9]:
work_dir = '/ebio/abt3_projects/DeepMAsED/version2/deepmased/ResMiCo-SM/tests/output_n10/'

threads = 4

# Init

In [10]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(data.table)
library(tidytable)
library(LeyLabRMisc)

In [11]:
df.dims()
setDTthreads(threads)

# Load

## bam2feat_all

In [12]:
# bam2feat tables
D = file.path(work_dir, 'features_bam2feat-all')
F = file.path(D, 'feature_files.tsv')
files = Fread(F) 
files

   richness abundance_distribution rep read_length read_depth assembler
1  0.8      mean-10-sigma-2        1   100         1000000    metaspades
2  0.8      mean-10-sigma-2        1   100         1000000    megahit
⋮  ⋮        ⋮                      ⋮   ⋮           ⋮          ⋮
11 0.8      mean-10-sigma-2        3   150         1000000    metaspades
12 0.8      mean-10-sigma-2        3   150         1000000    megahit
   feature_file
1  0.8/mean-10-sigma-2/1/100/1000000/metaspades/features.tsv.gz
2  0.8/mean-10-sigma-2/1/100/1000000/megahit/features.tsv.gz
⋮  ⋮
11 0.8/mean-10-sigma-2/3/150/1000000/metaspades/features.tsv.gz
12 0.8/mean-10-sigma-2/3/150/1000000/megahit/features.tsv.gz
   MGSIM_reads_params
1  --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
2  --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
⋮  ⋮
11 --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
12 --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712

In [16]:
read_feat = function(x, D){
    df = Fread(file.path(D, x['feature_file']))
    df$richness = x['richness']
    df$abund_dist = x['abundance_distribution']
    df$rep = x['rep']
    df$read_depth = x['read_depth']
    df$read_length = x['read_length']
    df$assembler = x['assembler']
    return(df)
}

# loading feature tables
bam2feat_all = files %>%
    apply(1, read_feat, D=file.path(work_dir, 'features_bam2feat-all')) %>%
    rbindlist(use.names=TRUE)
bam2feat_all

          assembler  contig                            position ref_base
1         metaspades NODE_459_length_2487_cov_3.937911 0        A
2         metaspades NODE_459_length_2487_cov_3.937911 1        G
⋮         ⋮          ⋮                                 ⋮        ⋮
129361320 megahit    k141_11062                        1177     C
129361321 megahit    k141_11062                        1178     G
          num_query_A num_query_C num_query_G num_query_T num_SNPs coverage ⋯
1         1           0           0           0           0        1        ⋯
2         0           0           1           0           0        1        ⋯
⋮         ⋮           ⋮           ⋮           ⋮           ⋮        ⋮        ⋱
129361320 0           1           0           0           0        1        ⋯
129361321 0           0           1           0           0        1        ⋯
          num_discordant_SNP seq_window_entropy seq_window_perc_gc
1         0                  1.92               0.5
2         0                  1.92               0.5
⋮         ⋮                  ⋮                  ⋮
129361320 0                  1.46               0.667
129361321 0                  1.58               0.667
          Extensive_misassembly Extensive_misassembly_by_pos richness
1         0                     None                         0.8
2         0                     None                         0.8
⋮         ⋮                     ⋮                            ⋮
129361320 0                     None                         0.8
129361321 0                     None                         0.8
          abund_dist      rep read_depth read_length
1         mean-10-sigma-2 1   1000000    100
2         mean-10-sigma-2 1   1000000    100
⋮         ⋮               ⋮   ⋮          ⋮
129361320 mean-10-sigma-2 3   1000000    150
129361321 mean-10-sigma-2 3   1000000    150

## bam2feat_red

In [17]:
# bam2feat tables
D = file.path(work_dir, 'features_bam2feat-all')
F = file.path(D, 'feature_files.tsv')
files = Fread(F) 
files

   richness abundance_distribution rep read_length read_depth assembler
1  0.8      mean-10-sigma-2        1   100         1000000    metaspades
2  0.8      mean-10-sigma-2        1   100         1000000    megahit
⋮  ⋮        ⋮                      ⋮   ⋮           ⋮          ⋮
11 0.8      mean-10-sigma-2        3   150         1000000    metaspades
12 0.8      mean-10-sigma-2        3   150         1000000    megahit
   feature_file
1  0.8/mean-10-sigma-2/1/100/1000000/metaspades/features.tsv.gz
2  0.8/mean-10-sigma-2/1/100/1000000/megahit/features.tsv.gz
⋮  ⋮
11 0.8/mean-10-sigma-2/3/150/1000000/metaspades/features.tsv.gz
12 0.8/mean-10-sigma-2/3/150/1000000/megahit/features.tsv.gz
   MGSIM_reads_params
1  --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
2  --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
⋮  ⋮
11 --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712
12 --art-paired --art-mflen 270 --art-sdev 50 --rndSeed 8712

In [18]:
# loading feature tables
bam2feat_red = files %>%
    apply(1, read_feat, D=file.path(work_dir, 'features_bam2feat-reduced')) %>%
    rbindlist(use.names=TRUE)
bam2feat_red

          assembler  contig                            position ref_base
1         metaspades NODE_688_length_1439_cov_4.049133 0        G
2         metaspades NODE_688_length_1439_cov_4.049133 1        A
⋮         ⋮          ⋮                                 ⋮        ⋮
129361320 megahit    k141_11062                        1177     C
129361321 megahit    k141_11062                        1178     G
          num_query_A num_query_C num_query_G num_query_T num_SNPs coverage ⋯
1         0           0           1           0           0        1        ⋯
2         1           0           0           0           0        1        ⋯
⋮         ⋮           ⋮           ⋮           ⋮           ⋮        ⋮        ⋱
129361320 0           1           0           0           0        1        ⋯
129361321 0           0           1           0           0        1        ⋯
          num_proper_SNP seq_window_entropy seq_window_perc_gc
1         0              1.92               0.333
2         0              1.46               0.167
⋮         ⋮              ⋮                  ⋮
129361320 0              1.46               0.667
129361321 0              1.58               0.667
          Extensive_misassembly Extensive_misassembly_by_pos richness
1         0                     None                         0.8
2         0                     None                         0.8
⋮         ⋮                     ⋮                            ⋮
129361320 0                     None                         0.8
129361321 0                     None                         0.8
          abund_dist      rep read_depth read_length
1         mean-10-sigma-2 1   1000000    100
2         mean-10-sigma-2 1   1000000    100
⋮         ⋮               ⋮   ⋮          ⋮
129361320 mean-10-sigma-2 3   1000000    150
129361321 mean-10-sigma-2 3   1000000    150

# Compare

## Check that dataset matches

In [19]:
bam2feat_all$assembler %>% unique_n('assemblers')
bam2feat_red$assembler %>% unique_n('assemblers')

No. of unique assemblers: 2
No. of unique assemblers: 2

In [20]:
bam2feat_all$contig %>% unique_n('contigs')
bam2feat_red$contig %>% unique_n('contigs')

No. of unique contigs: 11039
No. of unique contigs: 11039

In [21]:
bam2feat_all %>%
    distinct.(assembler, richness, rep, read_depth)

  assembler  richness rep read_depth
1 metaspades 0.8      1   1000000
2 megahit    0.8      1   1000000
⋮ ⋮          ⋮        ⋮   ⋮
5 metaspades 0.8      3   1000000
6 megahit    0.8      3   1000000

In [22]:
bam2feat_red %>%
    distinct.(assembler, richness, rep, read_depth)

  assembler  richness rep read_depth
1 metaspades 0.8      1   1000000
2 megahit    0.8      1   1000000
⋮ ⋮          ⋮        ⋮   ⋮
5 metaspades 0.8      3   1000000
6 megahit    0.8      3   1000000

In [23]:
summary_x(bam2feat_all$position)
summary_x(bam2feat_red$position)

         Min. 1st Qu. Median Mean     3rd Qu. Max.   sd       sd_err_of_mean
position 0    2854    25547  71036.11 85963   786518 307983.7 125733.8

         Min. 1st Qu. Median Mean     3rd Qu. Max.   sd       sd_err_of_mean
position 0    2854    25547  71036.11 85963   786518 307983.7 125733.8

## Features

### ref bases

In [24]:
bam2feat_all$ref_base %>% table
bam2feat_red$ref_base %>% table

.
       A        C        G        T
27031236 37468728 37726801 27134556

.
       A        C        G        T
27031236 37468728 37726801 27134556

In [25]:
summary_x(bam2feat_all$num_query_A)
summary_x(bam2feat_red$num_query_A)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_A 0    0       0      2.970516 0       186  75.701 30.905

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_A 0    0       0      2.970516 0       186  75.701 30.905

In [26]:
summary_x(bam2feat_all$num_query_C)
summary_x(bam2feat_red$num_query_C)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_C 0    0       0      3.343388 4       185  74.948 30.597

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_C 0    0       0      3.343388 4       185  74.948 30.597

In [27]:
summary_x(bam2feat_all$num_query_G)
summary_x(bam2feat_red$num_query_G)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_G 0    0       0      3.379524 4       185  74.945 30.596

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_G 0    0       0      3.379524 4       185  74.945 30.596

In [28]:
summary_x(bam2feat_all$num_query_T)
summary_x(bam2feat_red$num_query_T)

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_T 0    0       0      2.989707 0       185  75.291 30.738

            Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
num_query_T 0    0       0      2.989707 0       185  75.291 30.738

### coverage/SNPs

In [29]:
summary_x(bam2feat_all$coverage)
summary_x(bam2feat_red$coverage)

         Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
coverage 0    7       12     12.68314 18      186  72.133 29.448

         Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
coverage 0    7       12     12.68314 18      186  72.133 29.448

In [30]:
summary_x(bam2feat_all$num_SNPs)
summary_x(bam2feat_red$num_SNPs)

         Min. 1st Qu. Median Mean       3rd Qu. Max. sd     sd_err_of_mean
num_SNPs 0    0       0      0.01501756 0       58   23.677 9.666

         Min. 1st Qu. Median Mean       3rd Qu. Max. sd     sd_err_of_mean
num_SNPs 0    0       0      0.01501756 0       58   23.677 9.666

In [31]:
summary_x(bam2feat_all$num_discordant)
summary_x(bam2feat_red$num_discordant)

               Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant 0    0       0      0.02253995 0       82   33.475
               sd_err_of_mean
num_discordant 13.666

               Min. 1st Qu. Median Mean      3rd Qu. Max. sd     sd_err_of_mean
num_discordant 0    0       0      0.0449501 0       164  66.949 27.332

### Match features

In [32]:
summary_x(bam2feat_all$min_insert_size_Match)
summary_x(bam2feat_red$min_insert_size_Match)

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_insert_size_Match 0    177     198    196.9123 221     1431 43849 16440.28
                      sd_err_of_mean
min_insert_size_Match 6213.84

                      Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
min_insert_size_Match 0    177     198    196.9123 221     1431 43849 16440.28
                      sd_err_of_mean
min_insert_size_Match 6213.84

In [33]:
summary_x(bam2feat_all$mean_insert_size_Match)
summary_x(bam2feat_red$mean_insert_size_Match)

                       Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_insert_size_Match 0    259     270.04 267.5083 280.8   1431 43849 16421.9
                       sd_err_of_mean
mean_insert_size_Match 6206.894

                       Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_insert_size_Match 0    259     270.04 267.5083 280.8   1431 43849 16421.9
                       sd_err_of_mean
mean_insert_size_Match 6206.894

In [34]:
summary_x(bam2feat_all$stdev_insert_size_Match)
summary_x(bam2feat_red$stdev_insert_size_Match)

                        Min. 1st Qu. Median Mean     3rd Qu. Max.   NA's
stdev_insert_size_Match 0    39.09   46.94  48.39053 54.77   1400.4 2568304
                        sd       sd_err_of_mean
stdev_insert_size_Match 970627.7 366862.8

                        Min. 1st Qu. Median Mean     3rd Qu. Max.   NA's
stdev_insert_size_Match 0    39.09   46.94  48.39053 54.77   1400.4 2568304
                        sd       sd_err_of_mean
stdev_insert_size_Match 970627.7 366862.8

In [35]:
summary_x(bam2feat_all$max_insert_size_Match)
summary_x(bam2feat_red$max_insert_size_Match)

                      Min. 1st Qu. Median Mean    3rd Qu. Max. NA's  sd
max_insert_size_Match 0    324     347    343.677 369     3026 43849 16328.25
                      sd_err_of_mean
max_insert_size_Match 6171.5

                      Min. 1st Qu. Median Mean    3rd Qu. Max. NA's  sd
max_insert_size_Match 0    324     347    343.677 369     3026 43849 16328.25
                      sd_err_of_mean
max_insert_size_Match 6171.5

In [36]:
summary_x(bam2feat_all$num_orphans_Match)
summary_x(bam2feat_red$num_orphans_Match)

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.02239455 0       19   7.755
                  sd_err_of_mean
num_orphans_Match 3.166

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.02239455 0       19   7.755
                  sd_err_of_mean
num_orphans_Match 3.166

In [37]:
summary_x(bam2feat_all$min_mapq_Match)
summary_x(bam2feat_red$min_mapq_Match)

               Min. 1st Qu. Median Mean    3rd Qu. Max. NA's  sd
min_mapq_Match 0    42      42     41.8226 42      42   43849 16560.15
               sd_err_of_mean
min_mapq_Match 6259.15

               Min. 1st Qu. Median Mean    3rd Qu. Max. NA's  sd
min_mapq_Match 0    42      42     41.8226 42      42   43849 16560.15
               sd_err_of_mean
min_mapq_Match 6259.15

In [38]:
summary_x(bam2feat_all$mean_mapq_Match)
summary_x(bam2feat_red$mean_mapq_Match)

                Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_mapq_Match 0    42      42     41.94913 42      42   43849 16560.15
                sd_err_of_mean
mean_mapq_Match 6259.147

                Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
mean_mapq_Match 0    42      42     41.94913 42      42   43849 16560.15
                sd_err_of_mean
mean_mapq_Match 6259.147

In [39]:
summary_x(bam2feat_all$stdev_mapq_Match)
summary_x(bam2feat_red$stdev_mapq_Match)

                 Min. 1st Qu. Median Mean       3rd Qu. Max. NA's    sd
stdev_mapq_Match 0    0       0      0.06554684 0       29.7 2568304 970725.8
                 sd_err_of_mean
stdev_mapq_Match 366899.9

                 Min. 1st Qu. Median Mean       3rd Qu. Max. NA's    sd
stdev_mapq_Match 0    0       0      0.06554684 0       29.7 2568304 970725.8
                 sd_err_of_mean
stdev_mapq_Match 366899.9

In [40]:
summary_x(bam2feat_all$max_mapq_Match)
summary_x(bam2feat_red$max_mapq_Match)

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_mapq_Match 0    42      42     41.99285 42      42   43849 16560.14
               sd_err_of_mean
max_mapq_Match 6259.146

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's  sd
max_mapq_Match 0    42      42     41.99285 42      42   43849 16560.14
               sd_err_of_mean
max_mapq_Match 6259.146

In [41]:
summary_x(bam2feat_all$num_proper_Match)
summary_x(bam2feat_red$num_proper_Match)

                 Min. 1st Qu. Median Mean     3rd Qu. Max. sd
num_proper_Match 0    7       12     12.65633 18      186  72.135
                 sd_err_of_mean
num_proper_Match 29.449

                 Min. 1st Qu. Median Mean     3rd Qu. Max. sd
num_proper_Match 0    7       12     12.65633 18      186  72.135
                 sd_err_of_mean
num_proper_Match 29.449

In [42]:
summary_x(bam2feat_all$num_diff_strand_Match)
summary_x(bam2feat_red$num_diff_strand_Match)

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_Match 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                      Length Class Mode sd sd_err_of_mean
num_diff_strand_Match 0      NULL  NULL NA NA

In [43]:
summary_x(bam2feat_all$num_orphans_Match)
summary_x(bam2feat_red$num_orphans_Match)

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.02239455 0       19   7.755
                  sd_err_of_mean
num_orphans_Match 3.166

                  Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_orphans_Match 0    0       0      0.02239455 0       19   7.755
                  sd_err_of_mean
num_orphans_Match 3.166

In [44]:
summary_x(bam2feat_all$num_supplementary_Match)
summary_x(bam2feat_red$num_supplementary_Match)

                        Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_Match 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                        Length Class Mode sd sd_err_of_mean
num_supplementary_Match 0      NULL  NULL NA NA

In [45]:
summary_x(bam2feat_all$num_secondary_Match)
summary_x(bam2feat_red$num_secondary_Match)

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_Match 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                    Length Class Mode sd sd_err_of_mean
num_secondary_Match 0      NULL  NULL NA NA

In [46]:
summary_x(bam2feat_all$num_discordant_Match)
summary_x(bam2feat_red$num_discordant_Match)

                     Min. 1st Qu. Median Mean       3rd Qu. Max. sd
num_discordant_Match 0    0       0      0.02241015 0       82   33.475
                     sd_err_of_mean
num_discordant_Match 13.666

                     Min. 1st Qu. Median Mean      3rd Qu. Max. sd
num_discordant_Match 0    0       0      0.0449501 0       164  66.949
                     sd_err_of_mean
num_discordant_Match 27.332

### SNP features

In [47]:
summary_x(bam2feat_all$min_insert_size_SNP)
summary_x(bam2feat_red$min_insert_size_SNP)

                    Min. 1st Qu. Median Mean     3rd Qu. Max. NA's
min_insert_size_SNP 0    235     269    267.1698 302     2913 126446559
                    sd       sd_err_of_mean
min_insert_size_SNP 47792056 18063699

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                    Length Class Mode sd sd_err_of_mean
min_insert_size_SNP 0      NULL  NULL NA NA

In [48]:
summary_x(bam2feat_all$mean_insert_size_SNP)
summary_x(bam2feat_red$mean_insert_size_SNP)

                     Min. 1st Qu. Median Mean     3rd Qu. Max. NA's
mean_insert_size_SNP 0    236     269    268.0054 303     2913 126446559
                     sd       sd_err_of_mean
mean_insert_size_SNP 47792056 18063699

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                     Length Class Mode sd sd_err_of_mean
mean_insert_size_SNP 0      NULL  NULL NA NA

In [49]:
summary_x(bam2feat_all$stdev_insert_size_SNP)
summary_x(bam2feat_red$stdev_insert_size_SNP)

                      Min. 1st Qu. Median Mean     3rd Qu. Max.    NA's
stdev_insert_size_SNP 0    16.26   35.36  46.78797 61.88   1961.51 129297592
                      sd       sd_err_of_mean
stdev_insert_size_SNP 48869763 18471034

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                      Length Class Mode sd sd_err_of_mean
stdev_insert_size_SNP 0      NULL  NULL NA NA

In [50]:
summary_x(bam2feat_all$max_insert_size_SNP)
summary_x(bam2feat_red$max_insert_size_SNP)

                    Min. 1st Qu. Median Mean     3rd Qu. Max. NA's
max_insert_size_SNP 0    236     270    268.8599 304     2981 126446559
                    sd       sd_err_of_mean
max_insert_size_SNP 47792051 18063697

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                    Length Class Mode sd sd_err_of_mean
max_insert_size_SNP 0      NULL  NULL NA NA

In [51]:
summary_x(bam2feat_all$min_mapq_SNP)
summary_x(bam2feat_red$min_mapq_SNP)

             Min. 1st Qu. Median Mean     3rd Qu. Max. NA's      sd
min_mapq_SNP 0    42      42     41.58282 42      42   126446559 47792294
             sd_err_of_mean
min_mapq_SNP 18063789

Warning message in is.data.frame(x):
“NAs introduced by coercion”

             Length Class Mode sd sd_err_of_mean
min_mapq_SNP 0      NULL  NULL NA NA

In [52]:
summary_x(bam2feat_all$mean_mapq_SNP)
summary_x(bam2feat_red$mean_mapq_SNP)

              Min. 1st Qu. Median Mean     3rd Qu. Max. NA's      sd
mean_mapq_SNP 0    42      42     41.61028 42      42   126446559 47792294
              sd_err_of_mean
mean_mapq_SNP 18063789

Warning message in is.data.frame(x):
“NAs introduced by coercion”

              Length Class Mode sd sd_err_of_mean
mean_mapq_SNP 0      NULL  NULL NA NA

In [53]:
summary_x(bam2feat_all$stdev_mapq_SNP)
summary_x(bam2feat_red$stdev_mapq_SNP)

               Min. 1st Qu. Median Mean     3rd Qu. Max. NA's      sd
stdev_mapq_SNP 0    0       0      1.366866 0       29.7 129297592 48869894
               sd_err_of_mean
stdev_mapq_SNP 18471084

Warning message in is.data.frame(x):
“NAs introduced by coercion”

               Length Class Mode sd sd_err_of_mean
stdev_mapq_SNP 0      NULL  NULL NA NA

In [54]:
summary_x(bam2feat_all$max_mapq_SNP)
summary_x(bam2feat_red$max_mapq_SNP)

             Min. 1st Qu. Median Mean     3rd Qu. Max. NA's      sd
max_mapq_SNP 0    42      42     41.64174 42      42   126446559 47792294
             sd_err_of_mean
max_mapq_SNP 18063789

Warning message in is.data.frame(x):
“NAs introduced by coercion”

             Length Class Mode sd sd_err_of_mean
max_mapq_SNP 0      NULL  NULL NA NA

In [55]:
summary_x(bam2feat_all$num_proper_SNP)
summary_x(bam2feat_red$num_proper_SNP)

               Min. 1st Qu. Median Mean      3rd Qu. Max. sd     sd_err_of_mean
num_proper_SNP 0    0       0      0.0230986 0       48   19.594 7.999

               Min. 1st Qu. Median Mean      3rd Qu. Max. sd     sd_err_of_mean
num_proper_SNP 0    0       0      0.0230986 0       48   19.594 7.999

In [56]:
summary_x(bam2feat_all$num_diff_strand_SNP)
summary_x(bam2feat_red$num_diff_strand_SNP)

                    Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_diff_strand_SNP 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                    Length Class Mode sd sd_err_of_mean
num_diff_strand_SNP 0      NULL  NULL NA NA

In [57]:
summary_x(bam2feat_all$num_orphans_SNP)
summary_x(bam2feat_red$num_orphans_SNP)

                Min. 1st Qu. Median Mean         3rd Qu. Max. sd
num_orphans_SNP 0    0       0      0.0001562909 0       17   6.94
                sd_err_of_mean
num_orphans_SNP 2.833

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                Length Class Mode sd sd_err_of_mean
num_orphans_SNP 0      NULL  NULL NA NA

In [58]:
summary_x(bam2feat_all$num_supplementary_SNP)
summary_x(bam2feat_red$num_supplementary_SNP)

                      Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_supplementary_SNP 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                      Length Class Mode sd sd_err_of_mean
num_supplementary_SNP 0      NULL  NULL NA NA

In [59]:
summary_x(bam2feat_all$num_secondary_SNP)
summary_x(bam2feat_red$num_secondary_SNP)

                  Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
num_secondary_SNP 0    0       0      0    0       0    0  0

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                  Length Class Mode sd sd_err_of_mean
num_secondary_SNP 0      NULL  NULL NA NA

In [60]:
summary_x(bam2feat_all$num_discordant_SNP)
summary_x(bam2feat_red$num_discordant_SNP)

                   Min. 1st Qu. Median Mean        3rd Qu. Max. sd
num_discordant_SNP 0    0       0      0.000129807 0       34   13.88
                   sd_err_of_mean
num_discordant_SNP 5.667

Warning message in is.data.frame(x):
“NAs introduced by coercion”

                   Length Class Mode sd sd_err_of_mean
num_discordant_SNP 0      NULL  NULL NA NA

### G+C & entropy

In [61]:
summary_x(bam2feat_all$seq_window_entropy)
summary_x(bam2feat_red$seq_window_entropy)

                   Min. 1st Qu. Median Mean     3rd Qu. Max. sd
seq_window_entropy 0    1.46    1.46   1.494556 1.79    1.92 0.691
                   sd_err_of_mean
seq_window_entropy 0.282

                   Min. 1st Qu. Median Mean     3rd Qu. Max. sd
seq_window_entropy 0    1.46    1.46   1.494556 1.79    1.92 0.691
                   sd_err_of_mean
seq_window_entropy 0.282

In [62]:
summary_x(bam2feat_all$seq_window_perc_gc)
summary_x(bam2feat_red$seq_window_perc_gc)

                   Min. 1st Qu. Median Mean      3rd Qu. Max. sd
seq_window_perc_gc 0    0.5     0.667  0.5812968 0.833   1    0.343
                   sd_err_of_mean
seq_window_perc_gc 0.14

                   Min. 1st Qu. Median Mean      3rd Qu. Max. sd
seq_window_perc_gc 0    0.5     0.667  0.5812968 0.833   1    0.343
                   sd_err_of_mean
seq_window_perc_gc 0.14

# sessionInfo

In [63]:
sessionInfo()

R version 4.1.0 (2021-05-18)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 18.04.5 LTS

Matrix products: default
BLAS/LAPACK: /ebio/abt3_projects/DeepMAsED/envs/tidyverse/lib/libopenblasp-r0.3.15.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] LeyLabRMisc_0.1.9 tidytable_0.6.3   data.table_1.14.0 ggplot2_3.3.5
[5] tidyr_1.1.3       dplyr_1.0.7

loaded via a namespace (and not attached):
 [1] pillar_1.6.1      compiler_4.1.0    R.methodsS3_1.8.1 base64enc_0.1-3
 [5] R.utils_2.10.1    tools_4.1.0       digest_0.6.27     uuid_0.1-4
 [9] jsonlite_1.7.2    evaluate_0.14     lifecycle_1.0.0   tibble_3.1.2
[13] gtable_0.3.0      pkgconfig_2.0.3   rlang_0.4.11      IRdisplay_1.0
[17] IRkernel_1.2      repr_1.1.3        withr_2.4.2       generics_0.1.0
[21] vctrs_0.3.8       grid_4.1.0        tidyselect_1.1.1  glue_1.4.2
[25] R6_2.5.0          fansi_0.4.2       pbdZMQ_0.3-5      purrr_0.3.4
[29] magrittr_2.0.1    scales_1.1.1      ellipsis_0.3.2    htmltools_0.5.1.1
[33] colorspace_2.0-2  utf8_1.2.1        munsell_0.5.0     crayon_1.4.1
[37] R.oo_1.24.0