<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#Formatting" data-toc-modified-id="Formatting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Formatting</a></span><ul class="toc-item"><li><span><a href="#animal-gut" data-toc-modified-id="animal-gut-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>animal-gut</a></span></li><li><span><a href="#TUK" data-toc-modified-id="TUK-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>TUK</a></span></li></ul></li><li><span><a href="#Merging" data-toc-modified-id="Merging-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Merging</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Writing-final-table" data-toc-modified-id="Writing-final-table-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>Writing final table</a></span></li></ul></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Get sample accessions for real datasets used in this study
* https://docs.google.com/spreadsheets/d/1O6EHD8SVCd7yaZlUCJPj4okBRPdJJrYW6AtFJeUnXCs/edit#gid=0

# Var

In [100]:
work_dir = '/ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/accessions/'

samples_file = file.path(work_dir, 'samples.tsv')

animal_gut_file = '/ebio/abt3_projects/Georg_animal_feces/data/metagenome/HiSeqRuns126-133-0138/ENA_upload/ENA_accessions.tsv'
tuk_file = '/ebio/abt3_projects/TwinsUK/vadinCA11/ENA_accessions.tsv'

# params
threads = 8

# Init

In [101]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(data.table)
library(tidytable)
library(LeyLabRMisc)
Init(threads=threads)

In [102]:
clustermq_setup(scheduler = 'multicore')
make_dir(work_dir)

Directory already exists: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/accessions/

# Load

In [103]:
samples = Fread(samples_file) %>%
    rename.(Study.identifier = Study_identifier....to.delete,
            Misassembly.rate = Misassembly_rate)
samples

    Dataset    Study.identifier    Misassembly.rate Sample.accession
1   UHGG       ERS1015611          0.026            ERS1015611
2   UHGG       ERS1016020          0.032            ERS1016020
⋮   ⋮          ⋮                   ⋮                ⋮
171 Animal-gut X13_Wolf            0.016
172 Animal-gut X87_Garden_Dormouse 0.016
    Study.accession
1   ERP013562
2   ERP013563
⋮   ⋮
171 PRJEB38078
172 PRJEB38078

In [104]:
animal_gut = Fread(animal_gut_file)
animal_gut

    Type   Accession  Accession2   Unique.Name
1   Sample ERS4537005 SAMEA6809356 X101_Horse
2   Sample ERS4537006 SAMEA6809357 X102_Kulan
⋮   ⋮      ⋮          ⋮            ⋮
288 Sample ERS4537292 SAMEA6809643 XF44_Fallow_Deer
289 Sample ERS4537293 SAMEA6809644 XF90_Domestic_Dog

In [105]:
tuk = Fread(tuk_file)
tuk

    Accession  SampleID_ENA                      SampleID_TUK.original
1   ERS5053140 VadinCA11_2_1171_p10__G12__209_42 1171
2   ERS5053139 VadinCA11_39_4632_S4_p2__D4_      4632
⋮   ⋮          ⋮                                 ⋮
129 ERS5053012 VadinCA11_130_mock                mock
130 ERS5053011 VadinCA11_129_water               water
    SampleID_TUK
1   1002424
2   1002874
⋮   ⋮
129 NA
130 NA

# Formatting

## animal-gut

In [113]:
samples_ag = samples %>%
    filter.(Dataset == 'Animal-gut')
overlap(samples_ag$Study.identifier, animal_gut$Unique.Name)

intersect(x,y): 30
setdiff(x,y): 0
setdiff(y,x): 259
union(x,y): 289

In [107]:
samples_ag = samples_ag %>%
    inner_join.(animal_gut %>% select.(Unique.Name, Accession), 
                c('Study.identifier' = 'Unique.Name'))
samples_ag

   Dataset    Study.identifier            Misassembly.rate Sample.accession
1  Animal-gut X109_Red_Fox                0.030
2  Animal-gut X111_West_European_Hedgehog 0.028
⋮  ⋮          ⋮                           ⋮                ⋮
29 Animal-gut X89_Fat_Dormouse            0.052
30 Animal-gut X96_European_Hare           0.024
   Study.accession Accession
1  PRJEB38078      ERS4537011
2  PRJEB38078      ERS4537014
⋮  ⋮               ⋮
29 PRJEB38078      ERS4537273
30 PRJEB38078      ERS4537280

## TUK

In [108]:
samples_tuk = samples %>%
    filter.(Dataset == 'TwinsUK')
overlap(samples_tuk$Study.identifier, tuk$SampleID_TUK.original)

intersect(x,y): 98
setdiff(x,y): 0
setdiff(y,x): 32
union(x,y): 130

In [109]:
samples_tuk = samples_tuk %>%
    inner_join.(tuk %>% select.(SampleID_TUK.original, Accession), 
                c('Study.identifier' = 'SampleID_TUK.original'))
samples_tuk

   Dataset Study.identifier Misassembly.rate Sample.accession Study.accession
1  TwinsUK 8571             0.023            ERS5053138       PRJEB40256
2  TwinsUK 9311             0.028            ERS5053137       PRJEB40256
⋮  ⋮       ⋮                ⋮                ⋮                ⋮
97 TwinsUK 1020132          0.025            ERS5053015       PRJEB40256
98 TwinsUK 1020174          0.038            ERS5053013       PRJEB40256
   Accession
1  ERS5053138
2  ERS5053137
⋮  ⋮
97 ERS5053015
98 ERS5053013

# Merging

In [110]:
samples_uhgg = samples %>%
    filter.(Dataset == 'UHGG') %>%
    mutate.(Accession = Study.identifier) 
samples_uhgg

   Dataset Study.identifier Misassembly.rate Sample.accession Study.accession
1  UHGG    ERS1015611       0.026            ERS1015611       ERP013562
2  UHGG    ERS1016020       0.032            ERS1016020       ERP013563
⋮  ⋮       ⋮                ⋮                ⋮                ⋮
43 UHGG    ERS537345        0.20             ERS537345        ERP006678
44 UHGG    ERS473376        0.23             ERS473376        ERP005989
   Accession
1  ERS1015611
2  ERS1016020
⋮  ⋮
43 ERS537345
44 ERS473376

In [111]:
accs = rbindlist(list(
    samples_uhgg, samples_tuk, samples_ag
))
accs

    Dataset    Study.identifier  Misassembly.rate Sample.accession
1   UHGG       ERS1015611        0.026            ERS1015611
2   UHGG       ERS1016020        0.032            ERS1016020
⋮   ⋮          ⋮                 ⋮                ⋮
171 Animal-gut X89_Fat_Dormouse  0.052
172 Animal-gut X96_European_Hare 0.024
    Study.accession Accession
1   ERP013562       ERS1015611
2   ERP013563       ERS1016020
⋮   ⋮               ⋮
171 PRJEB38078      ERS4537273
172 PRJEB38078      ERS4537280

### Writing final table

In [112]:
# writing final table
F = file.path(work_dir, 'accessions.tsv')
write_table(accs, F)

File written: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/accessions//accessions.tsv

# sessionInfo

In [68]:
sessionInfo()

R version 4.1.1 (2021-08-10)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 18.04.6 LTS

Matrix products: default
BLAS/LAPACK: /tmp/global2/nyoungblut/code/general/conda_envs/general-tidyverse/lib/libopenblasp-r0.3.18.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] clustermq_0.8.95.2 LeyLabRMisc_0.2.1  tidytable_0.6.6    data.table_1.14.2
[5] ggplot2_3.3.5      tidyr_1.1.4        dplyr_1.0.7

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.7       plyr_1.8.6       pillar_1.6.4     compiler_4.1.1
 [5] base64enc_0.1-3  tools_4.1.1      digest_0.6.29    uuid_1.0-3
 [9] jsonlite_1.7.2   evaluate_0.14    lifecycle_1.0.1  tibble_3.1.6
[13] gtable_0.3.0     pkgconfig_2.0.3  rlang_0.4.12     IRdisplay_1.1
[17] IRkernel_1.3     fastmap_1.1.0    repr_1.1.4       withr_2.4.3
[21] generics_0.1.1   vctrs_0.3.8      grid_4.1.1       tidyselect_1.1.1
[25] glue_1.6.0       R6_2.5.1         fansi_1.0.0      pbdZMQ_0.3-6
[29] purrr_0.3.4      magrittr_2.0.1   codetools_0.2-18 scales_1.1.1
[33] ellipsis_0.3.2   htmltools_0.5.2  colorspace_2.0-2 utf8_1.2.2
[37] munsell_0.5.0    crayon_1.4.2