<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Note-on-projects-(studies)" data-toc-modified-id="Note-on-projects-(studies)-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Note on projects (studies)</a></span></li><li><span><a href="#Writing-samples-table" data-toc-modified-id="Writing-samples-table-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Writing samples table</a></span></li></ul></li></ul></li><li><span><a href="#Sequence-download-&amp;-QC" data-toc-modified-id="Sequence-download-&amp;-QC-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Sequence download &amp; QC</a></span><ul class="toc-item"><li><span><a href="#LLMGQC-pipeline" data-toc-modified-id="LLMGQC-pipeline-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>LLMGQC pipeline</a></span><ul class="toc-item"><li><span><a href="#Config" data-toc-modified-id="Config-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Config</a></span></li><li><span><a href="#Run" data-toc-modified-id="Run-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Run</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Summary</a></span><ul class="toc-item"><li><span><a href="#Seq.-quality" data-toc-modified-id="Seq.-quality-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Seq. quality</a></span></li></ul></li><li><span><a href="#Writing-table" data-toc-modified-id="Writing-table-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Writing table</a></span></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Metagenomes from the [MarineMetagenomeDB](https://webapp.ufz.de/marmdb/)
* The metagenomes will be used to evalulate resmico

# Var

In [1]:
work_dir = '/ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/'
metadata_file = file.path(work_dir, '2022-08-25_marmdb_marine.csv')

# Init

In [2]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(data.table)
library(tidytable)
library(LeyLabRMisc)
Init()

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last



Attaching package: ‘tidytable’


The following object is masked from ‘package:stats’:

    dt


Loading required package: clustermq

In [3]:
set.seed(8281)

# Load

In [4]:
meta = Fread(metadata_file, sep=',') 
meta

     library_id project_id sample_id  BioprojectID PubmedID
1    DRR086604  DRX080433  DRS095491  544441       NA
2    DRR086605  DRX080434  DRS095492  544441       NA
⋮    ⋮          ⋮          ⋮          ⋮            ⋮
2833 SRR7226204 SRX4132707 SRS3346794 471489       NA
2834 SRR863225  SRX283655  SRS426871  201031       23320838
     project_name
1    Development of prediction and control technology for coastal fishery damage by marine microbial analysis
2    Development of prediction and control technology for coastal fishery damage by marine microbial analysis
⋮    ⋮
2833 Lophelia pertusa Metagenomes
2834 HOT212 DCM Metagenome
     creation_date seq_platform sequence_count basepairs_count ⋯
1    2019-05-22    ILLUMINA     1522491         605177743      ⋯
2    2019-05-22    ILLUMINA     2683839        1045253097      ⋯
⋮    ⋮             ⋮            ⋮              ⋮               ⋱
2833 2018-12-31    ILLUMINA      1204127        243233654      ⋯
2834 2013-07-16    ILLUMINA     14791817       4260043296      ⋯
     MarMDB_marine_ecosystem MarMDB_marine_water_body MarMDB_oceanic_zone
1    NA                      coastal water body       NA
2    NA                      coastal water body       NA
⋮    ⋮                       ⋮                        ⋮
2833 NA                      NA                       NA
2834 NA                      NA                       NA
     MarMDB_oceanographic_phenomena MarMDB_host_name      quality_above_30_SRA
1    NA                             NA                    94
2    NA                             NA                    94
⋮    ⋮                              ⋮                     ⋮
2833 NA                             Desmophyllum pertusum 90
2834 NA                             NA                    52
     mean_quality_SRA source_database average_length assembled
1    36.35            SRA             397            No
2    36.19            SRA             389            No
⋮    ⋮                ⋮               ⋮              ⋮
2833 35.33            SRA             202            No
2834 21.26            SRA             288            No

# Filter

In [5]:
meta_f = meta %>%
    mutate.(n_samples = sample_id %>% unique %>% length, 
            .by = c(project_name)) %>%
    filter.(n_samples >= 20) %>%
    filter.(average_length <= 300,
            average_length >= 100)

df.dims(20)
meta_f %>%
    distinct.(project_name, n_samples, MarMDB_biome, MarMDB_material) %>%
    arrange.(-n_samples)
df.dims()

   project_name
1  Marine metagenomes from the bioGEOTRACES project
2  Development of prediction and control technology for coastal fishery damage by marine microbial analysis
3  Ocean Sampling Day (OSD) 2014: AUTHORITY-RAW amplicon and metagenome sequencing study from the June solstice in the year 2014
4  Arctic Ocean metagenomes from HLY1502
5  Meta-genomic and -transcriptomic samples from the HOE Legacy 2 expedition
6  HOT ALOHA metagenomic time and depth series
7  Ecological Genomics of a Seasonally Anoxic Fjord; Saanich Inlet
8  Marine water Metagenome
9  Red Sea metagenomes
10 Genomic basis of differential aerosolization of bacteria and viruses in sea spray
11 Amazon Continuum Metagenomes
12 Shotgun Sequencing of Tara Oceans Polar Circle DNA samples corresponding to size fractions for  small DNA viruses.
   n_samples MarMDB_biome MarMDB_material
1  471       ocean        NA
2  248       ocean        NA
3  137       ocean        NA
4  130       ocean        NA
5   86       ocean        NA
6   76       ocean        NA
7   62       ocean        NA
8   47       ocean        NA
9   45       ocean        NA
10  44       ocean        NA
11  38       ocean        NA
12  25       ocean        NA

### Note on projects (studies)

* Development of prediction and control technology for coastal fishery damage by marine microbial analysis	
  * study_id: PRJDB5504
  * study_desc: Development of prediction and control technology for coastal fishery damage by marine microbial analysis
  * doi: None
* Arctic Ocean metagenomes from HLY1502
  * study_id: PRJEB14154
  * study_desc: Arctic Ocean metagenomes sampled aboard CGC Healy during the 2015 GEOTRACES Arctic research cruise
* Genomic basis of differential aerosolization of bacteria and viruses in sea spray
  * study_id: PRJEB20421
  * study_desc: Airborne bacteria and viruses
  * doi: https://www.nature.com/articles/s41467-018-04409-z
  * seq: HiSeq 4000 
    * paired-end
* Shotgun Sequencing of Tara Oceans Polar Circle DNA samples corresponding to size fractions for small DNA viruses.	
  * study_id: PRJEB9742
  * study_desc: Analysis of the genes and genomes present in Tara Oceans Polar Circle virus size
  * doi: https://journals.asm.org/doi/10.1128/mSphere.00334-20
* Ocean Sampling Day (OSD) 2014: AUTHORITY-RAW amplicon and metagenome sequencing study from the June solstice in the year 2014	
  * study_id: 
  * study_desc: Illumina MiSeq paired end sequencing; Metagenome Shotgun Sequencing
  * doi: None
  * seq: MiSeq
* Amazon Continuum Metagenomes
  * study_id: PRJNA237344
  * study_desc:  Amazon River-to-tropical Atlantic Ocean continuu
  * doi: https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-015-0099-0
  * seq: Illumina HiSeq 2500
    * 2 x 150 bp
* Red Sea metagenomes
  * study_id: PRJNA289734
  * study_desc: An expedition spanning nearly the entire eastern Red Sea. We sampled at eight stations along this route
  * doi: https://doi.org/10.1111/1462-2920.15182
  * seq: HiSeq 2000
    * 2 x 100 bp
* Marine water Metagenome
  * study_id: PRJNA291491
  * study_desc: Examine viral communities in ballast and harbor waters
  * doi: https://doi.org/10.1371/journal.pone.0152671
  * seq:  HiSeq 2500
    * 2 x 100 bp
* Ecological Genomics of a Seasonally Anoxic Fjord; Saanich Inlet	
  * study_id: PRJNA247822
  * study_desc: Saanich Inlet is a seasonally anoxic fjord
  * doi: None
* HOT ALOHA metagenomic time and depth series
  * study_id: PRJNA352737
  * study_desc: A time-resolved deep metagenomic survey of bacterioplankton from the ocean's surface to a depth of 1,000 m
  * doi: https://doi.org/10.1038/s41564-017-0008-3
  * seq: Illumina MiSeq and NextSeq 500
* Meta-genomic and -transcriptomic samples from the HOE Legacy 2 expedition
  * study_id: PRJNA358725
  * study_desc: Meta-genomic and -transcriptomic samples from the HOE Legacy 2 expedition.
  * doi: https://doi.org/10.1073/pnas.1714821114
  * seq: Nextseq500
* Marine metagenomes from the bioGEOTRACES project
  * study_id: PRJNA385854
  * study_desc: Marine metagenomes from the bioGEOTRACES project Metagenome
  * doi: https://doi.org/10.1038/sdata.2018.176
  * seq: Illumina NextSeq
    * 2 x 150 bp

In [6]:
df.dims(20)
meta_f %>%
    summarize.(project_id = first(project_id),
               BioprojectID = first(BioprojectID),
               PubmedID = first(PubmedID),
               .by = c(project_name))
df.dims()

   project_name
1  Development of prediction and control technology for coastal fishery damage by marine microbial analysis
2  Arctic Ocean metagenomes from HLY1502
3  Genomic basis of differential aerosolization of bacteria and viruses in sea spray
4  Shotgun Sequencing of Tara Oceans Polar Circle DNA samples corresponding to size fractions for  small DNA viruses.
5  Ocean Sampling Day (OSD) 2014: AUTHORITY-RAW amplicon and metagenome sequencing study from the June solstice in the year 2014
6  Amazon Continuum Metagenomes
7  Red Sea metagenomes
8  Marine water Metagenome
9  Ecological Genomics of a Seasonally Anoxic Fjord; Saanich Inlet
10 HOT ALOHA metagenomic time and depth series
11 Meta-genomic and -transcriptomic samples from the HOE Legacy 2 expedition
12 Marine metagenomes from the bioGEOTRACES project
   project_id BioprojectID PubmedID
1  DRX080447  544441       NA
2  ERX1495486 324018       NA
3  ERX2062252 389695       NA
4  ERX2775056 288560       NA
5  ERX714336  276999       NA
6  SRX480925  348753,2373  28894102
7  SRX1097575 289734       27377622,27
8  SRX1162759 291491       NA
9  SRX1878046 247822       NA
10 SRX2334616 352737       28808230
11 SRX2445715 358725       NA
12 SRX2974743 385854       NA

In [7]:
to_keep = c(
    #'Genomic basis of differential aerosolization of bacteria and viruses in sea spray',
    #'Amazon Continuum Metagenomes',
    'Red Sea metagenomes',
    'HOT ALOHA metagenomic time and depth series',
    #'Meta-genomic and -transcriptomic samples from the HOE Legacy 2 expedition',
    'Marine metagenomes from the bioGEOTRACES project'    
)
meta_f = meta_f %>%
    filter.(project_name %in% to_keep)

df.dims(20)
meta_f %>%
    distinct.(project_name, n_samples, MarMDB_biome, MarMDB_material) %>%
    arrange.(-n_samples)
df.dims()

  project_name                                     n_samples MarMDB_biome
1 Marine metagenomes from the bioGEOTRACES project 471       ocean
2 HOT ALOHA metagenomic time and depth series       76       ocean
3 Red Sea metagenomes                               45       ocean
  MarMDB_material
1 NA
2 NA
3 NA

In [8]:
# platform
meta_f$seq_platform %>% table
meta_f$assembled %>% table

.
ILLUMINA
     544

.
 No
544

In [9]:
# sequences
summary_x(meta_f$sequence_count)
summary_x(meta_f$average_length)

               Min.   1st Qu.  Median   Mean     3rd Qu.  Max.     sd
sequence_count 859190 18641506 23607075 23840375 28478476 49713939 8556800
               sd_err_of_mean
sequence_count 3493299

               Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
average_length 186  300     300    290.5202 300     300  31.424 12.829

In [10]:
# filtering by seq count
meta_f = meta_f %>%
    filter.(sequence_count < 5e8)

df.dims(20)
meta_f %>%
    distinct.(project_name, n_samples, MarMDB_biome, MarMDB_material) %>%
    arrange.(-n_samples)
df.dims()

  project_name                                     n_samples MarMDB_biome
1 Marine metagenomes from the bioGEOTRACES project 471       ocean
2 HOT ALOHA metagenomic time and depth series       76       ocean
3 Red Sea metagenomes                               45       ocean
  MarMDB_material
1 NA
2 NA
3 NA

In [11]:
# filtering by unique sample ID
meta_f = meta_f %>%
    mutate.(n_recs = n.(), .by = c(sample_id)) %>%
    filter.(n_recs == 1)
meta_f

    library_id project_id sample_id  BioprojectID PubmedID
1   SRR2102994 SRX1097575 SRS992694  289734       27377622,27
2   SRR2102995 SRX1097576 SRS992693  289734       27377622,27
⋮   ⋮          ⋮          ⋮          ⋮            ⋮
541 SRR5788467 SRX2974745 SRS2329754 385854       NA
542 SRR5788468 SRX2974744 SRS2329753 385854       NA
    project_name                                     creation_date seq_platform
1   Red Sea metagenomes                              2015-12-31    ILLUMINA
2   Red Sea metagenomes                              2015-12-31    ILLUMINA
⋮   ⋮                                                ⋮             ⋮
541 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ILLUMINA
542 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ILLUMINA
    sequence_count basepairs_count ⋯ MarMDB_oceanic_zone
1    9560317       1778218962      ⋯ NA
2   13471221       2505647106      ⋯ NA
⋮   ⋮              ⋮               ⋱ ⋮
541 18234842       5470452600      ⋯ NA
542 23750415       7125124500      ⋯ NA
    MarMDB_oceanographic_phenomena MarMDB_host_name quality_above_30_SRA
1   NA                             NA               88
2   NA                             NA               88
⋮   ⋮                              ⋮                ⋮
541 NA                             NA               83
542 NA                             NA               82
    mean_quality_SRA source_database average_length assembled n_samples n_recs
1   34.88            SRA             186            No        45        1
2   34.90            SRA             186            No        45        1
⋮   ⋮                ⋮               ⋮              ⋮         ⋮         ⋮
541 32.34            SRA             300            No        471       1
542 32.14            SRA             300            No        471       1

In [12]:
# subsampling
meta_f = meta_f %>%
    slice_sample.(40, .by = c(project_name)) %>%
    mutate.(n_samples = sample_id %>% unique %>% length, 
            .by = c(project_name)) 

df.dims(20)
meta_f %>%
    distinct.(project_name, n_samples, MarMDB_biome, MarMDB_material) %>%
    arrange.(-n_samples)
df.dims()

  project_name                                     n_samples MarMDB_biome
1 Red Sea metagenomes                              40        ocean
2 Marine metagenomes from the bioGEOTRACES project 40        ocean
3 HOT ALOHA metagenomic time and depth series      26        ocean
  MarMDB_material
1 NA
2 NA
3 NA

### Writing samples table

In [13]:
# formatting
samps = meta_f %>%
    mutate.(Project = gsub('[^A-Za-z0-9_-]+', '_', project_name)) %>%
    mutate.(Sample = sample_id,
            Remote = library_id, 
            Run = 1,
            Lane = 1) %>%
    relocate(Lane) %>%
    relocate(Run) %>%
    relocate(Remote)%>%
    relocate(Sample)%>%
    relocate(Project)
samps

    Project                                          Sample     Remote     Run
1   Red_Sea_metagenomes                              SRS992687  SRR2103001 1
2   Red_Sea_metagenomes                              SRS992704  SRR2103016 1
⋮   ⋮                                                ⋮          ⋮          ⋮
105 Marine_metagenomes_from_the_bioGEOTRACES_project SRS2329824 SRR5788396 1
106 Marine_metagenomes_from_the_bioGEOTRACES_project SRS2329594 SRR5788145 1
    Lane library_id project_id sample_id  BioprojectID PubmedID    ⋯
1   1    SRR2103001 SRX1097582 SRS992687  289734       27377622,27 ⋯
2   1    SRR2103016 SRX1097597 SRS992704  289734       27377622,27 ⋯
⋮   ⋮    ⋮          ⋮          ⋮          ⋮            ⋮           ⋱
105 1    SRR5788396 SRX2974816 SRS2329824 385854       NA          ⋯
106 1    SRR5788145 SRX2974587 SRS2329594 385854       NA          ⋯
    MarMDB_oceanic_zone MarMDB_oceanographic_phenomena MarMDB_host_name
1   NA                  NA                             NA
2   NA                  NA                             NA
⋮   ⋮                   ⋮                              ⋮
105 NA                  NA                             NA
106 NA                  NA                             NA
    quality_above_30_SRA mean_quality_SRA source_database average_length
1   85                   34.08            SRA             186
2   86                   34.30            SRA             186
⋮   ⋮                    ⋮                ⋮               ⋮
105 85                   32.69            SRA             300
106 75                   31.55            SRA             300
    assembled n_samples n_recs
1   No        40        1
2   No        40        1
⋮   ⋮         ⋮         ⋮
105 No        40        1
106 No        40        1

In [17]:
# unique records?
samps %>%
    summarize.(n_recs = n.(), .by = c(sample_id)) %>%
    .$n_recs %>% summary_x('No. of records per sample_id')

# unique records?
samps %>%
    summarize.(n_recs = n.(), .by = c(library_id)) %>%
    .$n_recs %>% summary_x('No. of records per library_id')

                             Min. 1st Qu. Median Mean 3rd Qu. Max. sd
No. of records per sample_id 1    1       1      1    1       1    0
                             sd_err_of_mean
No. of records per sample_id 0

                              Min. 1st Qu. Median Mean 3rd Qu. Max. sd
No. of records per library_id 1    1       1      1    1       1    0
                              sd_err_of_mean
No. of records per library_id 0

In [15]:
# writing
D = file.path(work_dir, 'LLMGQC')
make_dir(D)
F = file.path(D, 'samples.tsv')
write_table(samps, F)

Directory already exists: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb//LLMGQC
File written: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb//LLMGQC/samples.tsv

# Sequence download & QC

## LLMGQC pipeline

### Config

In [23]:
F = file.path(D, 'config.yaml')
cat_file(F)

#-- I/O --#
# table with sample --> read_file information
samples_file: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/samples.tsv

# output location
output_dir: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/

# temporary file directory (your username will be added automatically)
tmp_dir: /ebio/abt3_scratch/

# ionice for reducing I/O load (use "-c 2" for noraml I/O usage)
ionice: -c 3

#-- Software parameters --#
# See the README for info on all major parameters
# Use "Skip" to skip any of these steps. If no params for rule, use: ""
params:
  just_read1: False
  download:
    dump: --dump-method fasterq-dump --use-prefetch --bufsize 50M
  initial_checks:
    validate_reads: ""
    convert_fastq_to_1.8: ""
  subsample:
    num_reads: 5000000
  raw:
    seqkit: ""
    fastqc: ""
  deduplication:
    clumpify: Skip #dedupe=t dupedist=40 optical=t spany=t adjacent=t
    seqkit: ""
    fastqc: ""
  quality:
    bbduk: ref=./adapters/bbmap_adapters.fa fastawrap=300 k=23 qin=33
    skewer: -x ./adapters/PE_all.fa -n -l 80 -q 25
    seqkit: ""
    fastqc: ""
  filter:
    bbmap: minratio=0.9 maxindel=1 bwr=0.16 bw=12 fast minhits=2 qtrim=r trimq=10 untrim
           idtag printunmappedcount kfilter=25 maxsites=1 k=14 pairlen=1000 rescuedist=1000
    ikraken2: Skip #--confidence 0.7
    seqkit: ""
    fastqc: ""
  final:
    seqkit: ""
    fastqc: ""
  coverage:
    nonpareil: -T kmer
    nonpareil_summary: 1e9
  skip_all:
    seqkit: False
    fastqc: False
    QC: False

#-- Databases --#
databases:
  ## hg19 = human genome database for filtering out human reads
  bbmap: /ebio/abt3_projects/databases_no-backup/Homo_sapiens/hg19/hg19
  # ikraken2 (iterative kraken2-based read filtering)
  ikraken2:
    animal_genomes: /ebio/abt3_projects/databases_no-backup/kraken2/animal_gut_microbiome_200908_db/kraken2/
    vertebrate_all_nt: /ebio/abt3_projects/databases_no-backup/kraken2/vertebrata-all_nt_db/
    plant: /ebio/abt3_projects/databases_no-backup/kraken2/plant_db/
    fungi:  /ebio/abt3_projects/databases_no-backup/kraken2/fungi_db/
    protozoa: /ebio/abt3_projects/databases_no-backup/kraken2/protozoa_db/
    human: /ebio/abt3_projects/databases_no-backup/kraken2/human_db/
    univec: /ebio/abt3_projects/databases_no-backup/kraken2/UniVec_Core_db/

#-- Snakemake pipeline --#
pipeline:
  snakemake_folder: ./
  script_folder: ./bin/scripts/
  run_skip_locally: True        # trivial "skip" steps run locally (not qsub)
  export_conda: True
  name: LLMGQC

### Run

```
(snakemake) rick: /tmp/global2/nyoungblut/code/dev/ll_pipelines/llmgqc
$ screen -L -S llmgqc-marmdb ./snakemake_sge.sh /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/config.yaml 30 -F --keep-going
```

## Summary

In [26]:
F = file.path(D, 'final', 'samples.txt')
samps = Fread(F)
samps

    Sample
1   SRS1788338
2   SRS1788339
⋮   ⋮
105 SRS992730
106 SRS992731
    Read1
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS1788338/R1_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS1788339/R1_final.fq.gz
⋮   ⋮
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992730/R1_final.fq.gz
106 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992731/R1_final.fq.gz
    Read2
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS1788338/R2_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS1788339/R2_final.fq.gz
⋮   ⋮
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992730/R2_final.fq.gz
106 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992731/R2_final.fq.gz
    Notes
1   NA
2   NA
⋮   ⋮
105 NA
106 NA

In [27]:
# adding metadata
overlap(samps$Sample, meta_f$sample_id)
samps = samps %>%
    inner_join.(meta_f, c('Sample'='sample_id'))
samps

intersect(x,y): 106
setdiff(x,y): 0
setdiff(y,x): 0
union(x,y): 106

    Sample
1   SRS992687
2   SRS992704
⋮   ⋮
105 SRS2329824
106 SRS2329594
    Read1
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R1_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R1_final.fq.gz
⋮   ⋮
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R1_final.fq.gz
106 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R1_final.fq.gz
    Read2
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R2_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R2_final.fq.gz
⋮   ⋮
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R2_final.fq.gz
106 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R2_final.fq.gz
    Notes library_id project_id BioprojectID PubmedID
1   NA    SRR2103001 SRX1097582 289734       27377622,27
2   NA    SRR2103016 SRX1097597 289734       27377622,27
⋮   ⋮     ⋮          ⋮          ⋮            ⋮
105 NA    SRR5788396 SRX2974816 385854       NA
106 NA    SRR5788145 SRX2974587 385854       NA
    project_name                                     creation_date ⋯
1   Red Sea metagenomes                              2015-12-31    ⋯
2   Red Sea metagenomes                              2015-12-31    ⋯
⋮   ⋮                                                ⋮             ⋱
105 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
106 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
    MarMDB_oceanic_zone MarMDB_oceanographic_phenomena MarMDB_host_name
1   NA                  NA                             NA
2   NA                  NA                             NA
⋮   ⋮                   ⋮                              ⋮
105 NA                  NA                             NA
106 NA                  NA                             NA
    quality_above_30_SRA mean_quality_SRA source_database average_length
1   85                   34.08            SRA             186
2   86                   34.30            SRA             186
⋮   ⋮                    ⋮                ⋮               ⋮
105 85                   32.69            SRA             300
106 75                   31.55            SRA             300
    assembled n_samples n_recs
1   No        40        1
2   No        40        1
⋮   ⋮         ⋮         ⋮
105 No        40        1
106 No        40        1

In [28]:
# samples lacking post-qc reads
samps %>%
    filter.(Read1 == '' | Read2 == '') %>%
    select.(Sample, Read1, Read2)

  Sample     Read1 Read2
1 SRS1788404

In [29]:
# filtering to just reads with output
samps_f = samps %>%
    filter.(Read1 != '', Read2 != '')
samps_f

    Sample
1   SRS992687
2   SRS992704
⋮   ⋮
104 SRS2329824
105 SRS2329594
    Read1
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R1_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R1_final.fq.gz
⋮   ⋮
104 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R1_final.fq.gz
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R1_final.fq.gz
    Read2
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R2_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R2_final.fq.gz
⋮   ⋮
104 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R2_final.fq.gz
105 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R2_final.fq.gz
    Notes library_id project_id BioprojectID PubmedID
1   NA    SRR2103001 SRX1097582 289734       27377622,27
2   NA    SRR2103016 SRX1097597 289734       27377622,27
⋮   ⋮     ⋮          ⋮          ⋮            ⋮
104 NA    SRR5788396 SRX2974816 385854       NA
105 NA    SRR5788145 SRX2974587 385854       NA
    project_name                                     creation_date ⋯
1   Red Sea metagenomes                              2015-12-31    ⋯
2   Red Sea metagenomes                              2015-12-31    ⋯
⋮   ⋮                                                ⋮             ⋱
104 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
105 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
    MarMDB_oceanic_zone MarMDB_oceanographic_phenomena MarMDB_host_name
1   NA                  NA                             NA
2   NA                  NA                             NA
⋮   ⋮                   ⋮                              ⋮
104 NA                  NA                             NA
105 NA                  NA                             NA
    quality_above_30_SRA mean_quality_SRA source_database average_length
1   85                   34.08            SRA             186
2   86                   34.30            SRA             186
⋮   ⋮                    ⋮                ⋮               ⋮
104 85                   32.69            SRA             300
105 75                   31.55            SRA             300
    assembled n_samples n_recs
1   No        40        1
2   No        40        1
⋮   ⋮         ⋮         ⋮
104 No        40        1
105 No        40        1

In [30]:
# samples per project 
samps_f$project_name %>% table

.
     HOT ALOHA metagenomic time and depth series
                                              25
Marine metagenomes from the bioGEOTRACES project
                                              40
                             Red Sea metagenomes
                                              40

### Seq. quality

In [31]:
base_dir = file.path(work_dir, 'LLMGQC', 'reports', 'final')

In [32]:
F = file.path(base_dir, 'seqkit_stats.tsv')
seqkit = Fread(F) %>%
    semi_join.(samps_f, c('Sample'))
seqkit

    Sample     Read
1   SRS992687  1
2   SRS992687  2
⋮   ⋮          ⋮
209 SRS2329594 1
210 SRS2329594 2
    file
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R1_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R2_final.fq.gz
⋮   ⋮
209 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R1_final.fq.gz
210 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R2_final.fq.gz
    format type num_seqs sum_len   min_len avg_len max_len Q1  Q2  Q3  sum_gap
1   FASTQ  DNA  4217898  389054891 80      92.2    93      92  93  93  0
2   FASTQ  DNA  4217898  387091260 80      91.8    93      92  93  93  0
⋮   ⋮      ⋮    ⋮        ⋮         ⋮       ⋮       ⋮       ⋮   ⋮   ⋮   ⋮
209 FASTQ  DNA  3632756  536835661 80      147.8   150     149 150 150 0
210 FASTQ  DNA  3632756  536068126 80      147.6   150     148 150 150 0
    N50 Q20... Q30... GC...
1   93  98.19  92.32  32.24
2   93  97.81  90.77  32.23
⋮   ⋮   ⋮      ⋮      ⋮
209 150 87.91  76.93  45.17
210 150 85.18  73.03  44.84

In [33]:
# stats
summary_x(seqkit$num_seqs)
summary_x(seqkit$min_len)
summary_x(seqkit$avg_len)
summary_x(seqkit$max_len)
summary_x(seqkit$Q30...)

         Min.   1st Qu. Median  Mean    3rd Qu. Max.    sd       sd_err_of_mean
num_seqs 849764 3759562 4107982 4110241 4488653 4979920 681682.2 278295.6

        Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
min_len 80   80      80     80   80      80   0  0

        Min. 1st Qu. Median Mean     3rd Qu. Max.  sd     sd_err_of_mean
avg_len 91.5 92.225  147.85 127.0252 148.5   150.3 27.515 11.233

        Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
max_len 93   93      150    128.5238 150     151  27.936 11.405

       Min. 1st Qu. Median Mean     3rd Qu. Max.  sd    sd_err_of_mean
Q30... 65.6 79.715  89.02  86.17638 92.5525 96.55 7.704 3.145

In [34]:
# filtering to >=1 million paired reads
seqkit_f = seqkit %>%
    filter.(num_seqs >= 1e6) %>%
    filter.(Read == 1) %>%
    select.(Sample, num_seqs, avg_len, Q30...)
seqkit_f

    Sample     num_seqs avg_len Q30...
1   SRS992687  4217898  92.2    92.32
2   SRS992704  4211206  92.3    92.92
⋮   ⋮          ⋮        ⋮       ⋮
103 SRS2329824 3759562  148.5   90.54
104 SRS2329594 3632756  147.8   76.93

In [35]:
# joining samps & quality
samps_fj = samps_f %>%
    inner_join.(seqkit_f, c('Sample'))
samps_fj

    Sample
1   SRS992687
2   SRS992704
⋮   ⋮
103 SRS2329824
104 SRS2329594
    Read1
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R1_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R1_final.fq.gz
⋮   ⋮
103 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R1_final.fq.gz
104 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R1_final.fq.gz
    Read2
1   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992687/R2_final.fq.gz
2   /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS992704/R2_final.fq.gz
⋮   ⋮
103 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329824/R2_final.fq.gz
104 /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb/LLMGQC/final/SRS2329594/R2_final.fq.gz
    Notes library_id project_id BioprojectID PubmedID
1   NA    SRR2103001 SRX1097582 289734       27377622,27
2   NA    SRR2103016 SRX1097597 289734       27377622,27
⋮   ⋮     ⋮          ⋮          ⋮            ⋮
103 NA    SRR5788396 SRX2974816 385854       NA
104 NA    SRR5788145 SRX2974587 385854       NA
    project_name                                     creation_date ⋯
1   Red Sea metagenomes                              2015-12-31    ⋯
2   Red Sea metagenomes                              2015-12-31    ⋯
⋮   ⋮                                                ⋮             ⋱
103 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
104 Marine metagenomes from the bioGEOTRACES project 2018-05-01    ⋯
    quality_above_30_SRA mean_quality_SRA source_database average_length
1   85                   34.08            SRA             186
2   86                   34.30            SRA             186
⋮   ⋮                    ⋮                ⋮               ⋮
103 85                   32.69            SRA             300
104 75                   31.55            SRA             300
    assembled n_samples n_recs num_seqs avg_len Q30...
1   No        40        1      4217898  92.2    92.32
2   No        40        1      4211206  92.3    92.92
⋮   ⋮         ⋮         ⋮      ⋮        ⋮       ⋮
103 No        40        1      3759562  148.5   90.54
104 No        40        1      3632756  147.8   76.93

In [36]:
# projects
samps_fj$project_name %>% table

.
     HOT ALOHA metagenomic time and depth series
                                              24
Marine metagenomes from the bioGEOTRACES project
                                              40
                             Red Sea metagenomes
                                              40

## Writing table

In [37]:
F = file.path(work_dir, 'LLMGQC', 'final', 'samples_final.tsv')
write_table(samps_fj, F)

File written: /ebio/abt3_projects/databases_no-backup/DeepMAsED/version2/real_data_eval/marmdb//LLMGQC/final/samples_final.tsv

# sessionInfo

In [38]:
sessionInfo()

R version 4.1.1 (2021-08-10)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 20.04.4 LTS

Matrix products: default
BLAS/LAPACK: /tmp/global2/nyoungblut/code/general/conda_envs/general-tidyverse/lib/libopenblasp-r0.3.18.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] clustermq_0.8.95.2 LeyLabRMisc_0.2.1  tidytable_0.6.6    data.table_1.14.2
[5] ggplot2_3.3.5      tidyr_1.1.4        dplyr_1.0.7

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.7       plyr_1.8.6       pillar_1.6.4     compiler_4.1.1
 [5] base64enc_0.1-3  tools_4.1.1      digest_0.6.29    uuid_1.0-3
 [9] jsonlite_1.7.2   evaluate_0.14    lifecycle_1.0.1  tibble_3.1.6
[13] gtable_0.3.0     pkgconfig_2.0.3  rlang_0.4.12     IRdisplay_1.1
[17] IRkernel_1.3     fastmap_1.1.0    repr_1.1.4       withr_2.4.3
[21] generics_0.1.1   vctrs_0.3.8      grid_4.1.1       tidyselect_1.1.1
[25] glue_1.6.0       R6_2.5.1         fansi_1.0.0      pbdZMQ_0.3-6
[29] purrr_0.3.4      magrittr_2.0.1   codetools_0.2-18 scales_1.1.1
[33] ellipsis_0.3.2   htmltools_0.5.2  colorspace_2.0-2 utf8_1.2.2
[37] munsell_0.5.0    crayon_1.4.2